*.db
__pycache__/
.mypy_cache/
.pytest_cache/
docs/dist/
requirements.txt
app/_version.py
app/templates/pages
app/static/**
!app/static/emoji/*
!app/static/twemoji/*
!app/static/common-admin.js
!app/static/new.js
!app/static/nopic.png
