{%- import "utils.html" as utils with context -%}
{% extends "layout.html" %}

{% block head %}
<title>{{ local_actor.display_name }}'s articles</title>
{% endblock %}

{% block content %}
{% include "header.html" %}

<ul class="h-feed" id="articles">
<data class="p-name" value="{{ local_actor.display_name}}'s articles"></data>
{% for outbox_object in objects %}
    <li>
        <h2><a href="{{ outbox_object.url }}">{{ outbox_object.name }}</a></h2>
        <span class="muted">{{ outbox_object.ap_published_at.strftime("%b %d, %Y") }}. A {{ outbox_object.content | html2text | trim | estimate_reading_time }} minute read.</span>
        <p>{{ outbox_object.content | html2text | trim | truncate(300) }}</p>
    </li>
{% endfor %}
</ul>

{% endblock %}
