{%- import "utils.html" as utils with context -%}
{% extends "layout.html" %}

{% block head %}
<title>{{ local_actor.display_name }}'s notes</title>
{% endblock %}

{% block content %}
{% include "header.html" %}

{% if objects %}

    <div class="h-feed">
    <data class="p-name" value="{{ local_actor.display_name}}'s notes"></data>
    {% for outbox_object in objects %}
    {% if outbox_object.ap_type in ["Note", "Article", "Video", "Question"] %}
    {{ utils.display_object(outbox_object) }}
    {% elif outbox_object.ap_type == "Announce" %}
    <div class="shared-header"><strong>{{ utils.display_tiny_actor_icon(local_actor) }} {{ local_actor.display_name | clean_html(local_actor) | safe  }}</strong> shared <span title="{{ outbox_object.ap_published_at.isoformat() }}">{{ outbox_object.ap_published_at | timeago }}</span></div>
    {{ utils.display_object(outbox_object.relates_to_anybox_object) }}
    {% endif %}
    {% endfor %}
    </div>

    <div class="box">
        {% if has_previous_page %}
        <a href="{{ url_for("index") }}?page={{ current_page - 1 }}">Previous</a>
        {% endif %}

        {% if has_next_page %}
        <a href="{{ url_for("index") }}?page={{ current_page + 1 }}">Next</a>
        {% endif %}
    </div>

{% else %}
    <div class="empty-state">
        <p>Nothing to see here yet!</p>
    </div>
{% endif %}

{% endblock %}
