{%- import "utils.html" as utils with context -%}
{% extends "layout.html" %}

{% block head %}
<title>{{ local_actor.display_name }}'s pages</title>
{% endblock %}

{% block content %}
<ul class="h-feed" id="pages">
<data class="p-name" value="{{ local_actor.display_name}}'s pages"></data>
<h1>Miscellaneous pages</h1>
{% for pname, pdesc in pagelist | dictsort %}
    <li>
        {% if pdesc %}
        <span class="muted">- <a href="/pages/{{ pname }}"><strong>{{ pname | capitalize | replace("_", " ") }}</strong></a>:</span> {{ pdesc }}
        {% else %}
        <span class="muted">- <a href="/pages/{{ pname }}"><strong>{{ pname | capitalize | replace("_", " ") }}</strong></a></span>
        {% endif %}
    </li>
{% endfor %}
</ul>

{% endblock %}
